body {
    font-family: Arial;
    background: #e3f2fd;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    background: white;
    margin: 5px;
    padding: 10px;
}